.card body {
    background-color: antiquewhite;
}
.input{
    margin-top:5px;
}
button {
    height: 31px;
    margin-top: -5px;
    margin-left: -5px;
    margin-right: -4px;
}
.form-group{
    margin-bottom:-5px;
}
.container-fluid {
    padding-top: 15px;
}
.card-header{
    background-color: white;
    border-bottom:0px;
}
.card-body {
    background-color: rgba(0,0,0,.03);
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    border-radius: 10px;
}